.error-msg {
  margin-bottom: 10px;
  color: orangered;
}

.submit-btn-wrapper {
  display: block;
  padding-top: 5px;

  .submit-btn {
    background-color: palegreen;
  }
}

.update-msg {
  color: green;
  margin-bottom: 10px;
}
