@import './Skeleton.scss';

.errorMsg {
  margin-bottom: 10px;
  color: orangered;
}

.submitButtonWrapper {
  display: block;
  padding-top: 5px;

  .submitButton {
    background-color: palegreen;
  }
}

.updateMsg {
  color: green;
  margin-bottom: 10px;
}
